<p>Angular Material Table Dynamic</p>
<div class="row">
  <div class="col-12 pt-3">{{ introText }}</div>
</div>
<mat-card>
<app-data-table-dynamic
  [toolbarTitle]="'Dynamic Table'"
  [toolbar]="true"
  [columns]="columns"
  [buttons]="buttons"
  [menuButtons]="menuButtons"
  [data]="data"
  [filterGlobal]="true"
  [filterGlobalLabel]="'Search'"
  [filterGlobalPlaceholder]="'Search'"
  [filterColumns]="true"
  [filterColumnsLabel]="''"
  [filterColumnsPlaceholder]="'Search'"
  [footer]="footer"
  [pageSizeOptions]="[10, 25, 50, 100]"
  [pageSize]="10"
  [tableMinWidth]="400"
  [isLoadingResultsFilter]="isLoadingResultsFilter"
  [isLoadingResults]="isLoadingResults"
  (filteredData)="applyFilter($event)"
  (buttonClick)="buttonClick($event)"
  (modalButtonClick)="add()"
  (pageChange)="pg()"
></app-data-table-dynamic>
</mat-card>

<!-- columns: required,
                     data: required
                     filter: not required, if null => no filter
                     filterPlaceholder: not required, if null => 'Filter'
                     footer: not required, if null => no footer
                     pagination: not required, if null => 50 items per page
                     pageSize: not required, if null => min size of pagination
                     tableMinWidth: not required, if null => 500px is the default  value
                     filteredData: not required, passes the filter back
                     buttonClick: not required, passes a action an payload in a string array back to the app.component
                  -->
